@page "{name?}/{id?}"
@model DemoRazorPagesJsonAPI.Pages.API.UserWithRouteParamModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserWithRouteParam</title>
</head>
<body>
</body>
</html>
